@page "/"
@layout UnauthorizedPagesLayout
@using ConestogaInsidersClub.Data.Models;
@using ConestogaInsidersClub.Data.DataAccess;
@using ConestogaInsidersClub.Pages.ViewModels;

@inject IGameService gameService;
@inject ICartService cartService;
@inject NavigationManager NavigationManager;

<h1>Conestoga Insiders Club</h1>
<p>Your source of the latest games and events</p>
<hr />

@if (games != null && games.Count != 0)
{
    <h3 class="mt-2">Games</h3>
    <p>Below you can find a selection of our available games.</p>

    <input id="Search" @onchange="@LookForGame" placeholder="Enter the game you want to search for..." />
    <div class="row p-1 mt-2">
        @foreach (var game in games)
        {
            <GameCard Game="game"
                      ButtonText="View Details"
                      ButtonClass="btn-primary"
                      OnClick="() => GoToDetails(game)" />
        }
    </div>
}
else
{
    <br />
    <h3>No games available... =(</h3>
}

@code {
    #region Declarations
    private List<Game> games;
    private bool showDetails = false;
    #endregion

    protected override async Task OnInitializedAsync()
    {
        games = await gameService.GetGames();
    }

    private void GoToDetails(Game game)
    {
        NavigationManager.NavigateTo("/game/" + game.GameId);
    }

    private async void LookForGame(ChangeEventArgs args)
    {
        string searchQuery = (string)args.Value;

        games = await gameService.GetGames();
        if (searchQuery != "")
        {
            games = games
                .FindAll(pf => pf.Name.ToLower().Contains(searchQuery.ToLower()));
        }
        StateHasChanged();
    }
}
